* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }
  
  /* input[type="text"] {
    padding: 5px;
  }
   */
   button.launch_entry{
      display: block;
      width:100%;
      /* border: solid 5px black; */
  }
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding-left:20px;
    padding-right:20px;
  }
  
  .error-message {
      color: red;
  }
  
  #results-list, #results{
      width:100%;
  }
  
  .hidden {
    display: none;
  }